/*========================================
  Prereqs 
  ========================================*/
/* Making the box setting border-box. */ 
*, *:before, *:after { 
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
/* CSS reset to remove any random whitespace. */ 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body { 
    font-family: 'Roboto', sans-serif;
	font-weight: 100;
    position: relative;
    background-color: black;
} 

.content-container { 
    width: 100%; 
} 

/*========================================
  Navigation Bar 
  ========================================*/

/* ACCOUNT BAR */ 
.account-menu {
    opacity: 0;
    display: inline-block; 
    position: fixed;
    left: 15px;
    background-color: black;
    color: white; 
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    transition: margin .3s ease-in, opacity .2s linear;
} 

.account-menu.show {
    opacity: .9; 
    margin-top: 100px;
    transition: margin .3s ease-in, opacity .6s linear;
} 

.account-menu span { 
    width: 100%;
    margin-bottom: 14px;
    margin-top: 14px;
    padding-bottom: 3px; 
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
} 

.account-menu span:hover { 
    cursor: pointer;
    background-color: rgba(17,123,255,.5);
    transition: background .2s linear; 
} 

#admin-btn {
    display: none; 
} 

#admin-btn.show { 
    display: inline-block;
} 

/* End the account-expand classes */ 
.account-txt { 
    opacity: 0.6;
    line-height: 85px;
    margin-left: 6%;
    position: fixed;
    display: block; 
    font-size: 16px;
    float: left;
    font-family: 'Roboto'; 
    color: white;
    font-weight: 300; 
} 

.account-txt:hover {
    opacity: 1; 
    cursor: pointer;
}

.account-txt.hover { 
    opacity: 1; 
    cursor: pointer;
} 

.account-img { 
    opacity: 0.6;
    position: fixed;
    display: block; 
    margin-top: 1.2%; 
    margin-left: 1.7%;
    float: left; 
    border-radius: 50%;
} 

.account-img:hover {
    opacity: 1;
    cursor: pointer;
}

.account-img.hover { 
    opacity: 1;
    cursor: pointer;
} 

/* NAVIGATION BAR */ 
.nav li:hover { 
    background-color: #117bff; 
    cursor: pointer; 
    transition: background .4s linear; 
} 

.nav { 
    background-color: black;
    height: 80px; 
    width: 100%; 
    position: fixed;
    top: 0;
    z-index:2; 
} 

.nav ul { 
    text-align: center; 
} 

.nav li { 
    display: inline-block; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
    color: white; 
    list-style: none; 
    line-height: 80px; 
    height: 80px; 
    padding-left: 10px; 
    padding-right: 10px; 
    text-decoration-style: none; 
    font-size: 18px; 
} 

.nav a {
    text-decoration: none;  
    color: white;
} 

/*========================================
  About
  ========================================*/
#logo { 
    float: left; 
} 

.infographic { 
    margin-top: 80px; 
} 

/*========================================
  Clearfix
  ========================================*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}