/*========================================
  Prereqs 
  ========================================*/
/* Making the box setting border-box. */ 
*, *:before, *:after { 
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
/* CSS reset to remove any random whitespace. */ 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body { 
    font-family: 'Roboto', sans-serif;
	font-weight: 100;
    position: relative;
    background-color: black;
} 

.content-container { 
    width: 100%; 
} 

/*========================================
  Navigation Bar 
  ========================================*/
.nav li:hover { 
    background-color: #117bff; 
    cursor: pointer; 
    transition: background .4s linear; 
} 

.nav { 
    background-color: black;
    height: 80px; 
    width: 100%; 
    position: fixed;
    top: 0;
    z-index:2; 
} 

.nav ul { 
    text-align: center; 
} 

.nav li { 
    display: inline-block; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
    color: white; 
    list-style: none; 
    line-height: 80px; 
    height: 80px; 
    padding-left: 10px; 
    padding-right: 10px; 
    text-decoration-style: none; 
    font-size: 18px; 
} 

.nav a {
    text-decoration: none;  
    color: white;
} 


/*========================================
  About
  ========================================*/
#logo { 
    float: left; 
} 

.infographic { 
    margin-top: 80px; 
} 

/*========================================
  Clearfix
  ========================================*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}