/*========================================
  Prereqs 
  ========================================*/
/* Making the box setting border-box. */ 
*, *:before, *:after { 
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

body { 
    font-family: 'Roboto', sans-serif;
	font-weight: 100;
    position: relative;
} 

.container { 
    margin-top: 15px; 
} 

p { 
    position: relative; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
    font-size: 12px; 
    line-height: 2px; 
    color: black; 
} 

/*========================================
  Navigation Bar 
  ========================================*/
li:hover { 
    background-color: #117bff; 
    cursor: pointer; 
    transition: background .7s linear; 
    -webkit-transition: background .7s linear; 
    -moz-transition: background .7s linear; 
    -o-transition: background .7s linear; 
} 

.nav { 
    background-color: black;
    height: 80px; 
    width: 100%; 
    position: fixed;
    top: 0;
    z-index:2; 
} 

.nav ul { 
    text-align: center; 
} 

.nav li { 
    display: inline-block; 
    font-family: 'Roboto', sans-serif; 
    color: white; 
    list-style: none; 
    line-height: 80px; 
    height: 80px; 
    padding-left: 10px; 
    padding-right: 10px; 
    text-decoration-style: none; 
} 

.nav a {
    text-decoration: none;  
    color: white;
} 

/*========================================
  Contact 
  ========================================*/
.contact { 
    margin-top: 100px;
} 

@media screen and (max-width: 1000px) { 
    .contact img { 
        display: none;
    } 
} 

#message { 
    font-size: 45px;
} 

.btn.clicked { 
    backround-color: green; 
    transition: background 1s linear; 
} 
/*========================================
  Clearfix
  ========================================*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}