/*========================================
  Prereqs 
  ========================================*/
/* Making the box setting border-box. */ 
*, *:before, *:after { 
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
/* CSS reset to remove any random whitespace. */ 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body { 
    font-family: 'Roboto', sans-serif;
	font-weight: 100;
    position: relative;
    overflow: hidden;
} 

.content-container { 
    width: 100%; 
} 

p { 
    position: relative; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
    font-size: 12px; 
    line-height: 2px; 
    color: black; 
} 
/*========================================
  Navigation Bar 
  ========================================*/

/* ACCOUNT BAR */ 
.account-menu {
    opacity: 0;
    display: inline-block; 
    position: fixed;
    left: 25px;
    background-color: black;
    color: white; 
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    width: 200px;
    transition: margin .3s ease-in, opacity .2s linear;
} 

.account-menu.show {
    opacity: .9; 
    margin-top: 100px;
    transition: margin .3s ease-in, opacity .6s linear;
} 

.account-menu span { 
    width: 100%;
    margin-bottom: 14px;
    margin-top: 14px;
    padding-bottom: 3px; 
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
} 

.account-menu span:hover { 
    cursor: pointer;
    background-color: rgba(17,123,255,.5);
    transition: background .2s linear; 
} 

.admin-btn {
    display: none; 
} 

.admin-btn.show { 
    display: inline-block;
} 

.account-txt { 
    opacity: 0.6;
    line-height: 100px;
    margin-left: 6%;
    position: fixed;
    display: block; 
    font-size: 16px;
    float: left;
    font-family: 'Roboto'; 
    color: white;
    font-weight: 300; 
} 

.account-txt:hover {
    opacity: 1; 
    cursor: pointer;
}

.account-txt.hover { 
    opacity: 1; 
    cursor: pointer;
} 

.account-img { 
    opacity: 0.6;
    position: fixed;
    display: block; 
    margin-top: 1.7%; 
    margin-left: 1.7%;
    float: left; 
    border-radius: 50%;
} 

.account-img:hover {
    opacity: 1;
    cursor: pointer;
}

.account-img.hover { 
    opacity: 1;
    cursor: pointer;
} 

/* NAVIGATION BAR */ 
.nav {
    top: 0; 
    right: 0; 
    width: 100%;
    position: fixed; 
    opacity: 0; 
    transition: opacity .3s ease-in; 
    font-family: sans-serif; 
    text-decoration: none; 
    background-color: black; 
}

.nav.expand { 
    opacity: 1; 
} 

.nav-btn {
    position: fixed;
    left: 94.6%; 
    top: 2%; 
    margin-top: .5em;
    margin-right: .5em;
    z-index: 99;
    border: 2px solid white; 
    border-radius: 4px; 
    background-color: white; 
    width: 54px;
    height: 54px; 
}

.nav-btn:hover { 
    cursor: pointer; 
} 

.nav-btn.new {
    background-color: black; 
    border-color: black; 
    transition: opacity 2s linear;
} 

.bars { 
    position: relative; 
    top: 40%; 
    transform: translateY(-50%); 
    padding-bottom: .1px;
} 

.bar {
    position: relative;  
    display: block;
    background-color: black; 
    width: 40px; 
    height: 6px; 
    margin: auto;
    margin-top: 6.5px; 
    margin-bottom: 5px;
    border: 3px solid black; 
    border-radius: 2px; 
} 

.bar.none { 
    display: none; 
} 

.newbar { 
    display: none; 
    position: relative;  
    width: 40px; 
    height: 6px; 
    margin: auto;
    margin-top: 6.5px; 
    margin-bottom: 5px;
    border: 3px solid white; 
    border-radius: 2px; 
    background-color: white; 
} 

.newbar.white { 
    display: block; 
} 

.nav ul { 
    margin-left: 25%;
} 

.nav li { 
    float: left; 
    display: inline-block;
} 

li:hover { 
    background-color: #117bff; 
    cursor: pointer; 
    transition: background .7s linear; 
} 

.nav a { 
    font-family: 'Roboto', sans-serif; 
    color: white; 
    list-style: none;  
    line-height: 100px; 
    height: 100px; 
    padding-left: 10px; 
    padding-right: 10px; 
} 


/*========================================
  Clearfix
  ========================================*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}