/*========================================
  Prereqs 
  ========================================*/
/* Making the box setting border-box. */ 
*, *:before, *:after { 
	box-sizing: border-box; 
}

body { 
    font-family: 'Roboto', sans-serif;
	font-weight: 100;
    background: black; 
    width: 100%; 
    margin: 0;
    padding: 0; 
    border: 0;
    margin-bottom: 0; 
    overflow: hidden;
} 

a { 
    text-decoration: none; 
    color: white; 
} 

/*========================================
  Jumbotron 
  ========================================*/
.jumbotron {
  background-image: url("http://blogs.rj.org/rac/files/2014/04/dreamstime_m_32349546.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 850px;
  color: white;
  position: relative;
  overflow: hidden;
  top: 5%; 
  width: 100%; 
}

.jumbotron h1 { 
    opacity: 0; 
    text-transform: uppercase; 
    font-family: 'Roboto', sans-serif; 
    font-size: 14vw; 
    margin-bottom: 20px; 
    background: inherit; 
    background-attachment: fixed; 
} 

.jumbotron p {
    opacity: 0; 
    text-transform: uppercase; 
    font-family: 'Roboto', sans-serif; 
    font-size: 4vw; 
    word-spacing: 14px; 
    letter-spacing: 7px; 
    margin-bottom: 50px; 
    color: rgb(165, 32, 20); 
    font-weight: 700; 
    background-color: rgba(0,0,0,0.5);
} 

.jumbo-btn { 
    opacity: 0; 
    display: inline-block;
    background-color: black;  
    padding-top: 15px; 
    padding-bottom: 15px; 
    padding-left: 28px; 
    padding-right: 28px; 
    text-transform: uppercase; 
    font-family: 'Exo 2', sans-serif; 
    color: white; 
    border-radius: 5px; 
} 

.jumbo-btn:hover { 
    background-color: #117bff; 
    cursor: pointer; 
    color: black; 
    transition: background .7s ease-out;  
} 

.title.load { 
    opacity: 1;
    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
} 

.desc.load { 
    opacity: 1; 
    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
} 

.jumbo-btn.load { 
    opacity: 1; 
    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
} 

/*========================================
  Navigation Bar 
  ========================================*/
.nav-btn {
    position: fixed;
    left: 94.6%; 
    top: 2%; 
    margin-top: .5em;
    margin-right: .5em;
    z-index: 99;
    border: 2px solid white; 
    border-radius: 4px; 
    background-color: white; 
    width: 54px;
    height: 54px; 
}

.nav-btn:hover { 
    cursor: pointer; 
} 

.nav-btn.new {
    opacity: 0; 
    background-color: black; 
    border-color: black; 
    transition: opacity 2s linear;
} 

.bars { 
    position: relative; 
    top: 40%; 
    transform: translateY(-50%); 
    padding-bottom: .2px;
} 

.bar {
    position: relative;  
    display: block;
    background-color: black; 
    width: 40px; 
    height: 6px; 
    margin: auto;
    margin-top: 6.5px; 
    margin-bottom: 5px;
    border: 3px solid black; 
    border-radius: 2px; 
} 

.bar.none { 
    display: none; 
} 

.newbar { 
    display: none; 
    position: relative;  
    width: 40px; 
    height: 6px; 
    margin: auto;
    margin-top: 6.5px; 
    margin-bottom: 5px;
    border: 3px solid white; 
    border-radius: 2px; 
    background-color: white; 
} 

.newbar.white { 
    display: block; 
} 

.nav {
    opacity: 0; 
    font-family: sans-serif; 
    text-decoration: none; 
    background-color: black; 
    transition: opacity .3s ease-out; 
}

.nav.expand { 
    opacity: 1; 
    transition: opacity .3s ease-in; 
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 100%;
} 

.nav ul { 
    margin-left: 25%;
} 

.nav li { 
    float: left; 
    display: inline-block;
} 

li:hover { 
    background-color: #117bff; 
    cursor: pointer; 
    transition: background .7s linear; 
} 

.nav a { 
    font-family: 'Roboto', sans-serif; 
    color: white; 
    list-style: none; 
    line-height: 100px; 
    height: 100px; 
    padding-left: 10px; 
    padding-right: 10px; 
} 

/*========================================
  Clearfix
  ========================================*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}