/*========================================
  Prereqs 
  ========================================*/
/* Making the box setting border-box. */ 
*, *:before, *:after { 
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

body { 
    position: relative;
    overflow: hidden;
} 

.container { 
    margin-top: 15px; 
} 

/*========================================
  Navigation Bar 
  ========================================*/

/* ACCOUNT BAR */ 
.account-txt { 
    opacity: 0.6;
    line-height: 85px;
    margin-left: 6%;
    position: fixed;
    display: block; 
    font-size: 16px;
    float: left;
    font-family: 'Roboto'; 
    color: white;
    font-weight: 300; 
} 

.account-txt:hover {
    opacity: 1; 
    cursor: pointer;
}

.account-txt.hover { 
    opacity: 1; 
    cursor: pointer;
} 

.account-img { 
    opacity: 0.6;
    position: fixed;
    display: block; 
    margin-top: 15px;
    margin-left: 1.7%;
    float: left; 
    border-radius: 50%;
} 

.account-img:hover {
    opacity: 1;
    cursor: pointer;
}

.account-img.hover { 
    opacity: 1;
    cursor: pointer;
} 

/* NAVIGATION BAR */ 
.nav li:hover { 
    background-color: #117bff; 
    cursor: pointer; 
    transition: background .4s linear; 
} 

.nav { 
    background-color: black;
    height: 80px; 
    width: 100%; 
    position: fixed;
    top: 0;
    z-index:2; 
} 

.nav ul { 
    text-align: center; 
} 

.nav li { 
    display: inline-block; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
    color: white; 
    list-style: none; 
    line-height: 80px; 
    height: 80px; 
    padding-left: 10px; 
    padding-right: 10px; 
    text-decoration-style: none; 
    font-size: 18px; 
} 

.nav a {
    text-decoration: none;  
    color: white;
} 
/*========================================
  Join
  ========================================*/
.join { 
    margin-top: 70px;
} 

.pledge { 
    padding-right: 20px; 
} 

#pledge-btn { 
    margin-top: 0px; 
}

@media screen and (max-width: 1000px) { 
    .contact img { 
        display: none;
    } 
} 

.btn-social-container { 
    padding-left: 20px; 
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 35px;
    background-color: rgb(0,0,0);
    color: white; 
    border-radius: 10px; 
} 

.btn-social { 
    margin-bottom: 8px;
} 

#manual { 
    font-size: 20px; 
    padding-top: 10px; 
    padding-bottom: 0px; 
    margin-left: none; 
} 

#desc { 
    padding-top: 25px; 
} 

#tagline { 
    color: #0AE387;
    font-size: 22px;
    margin-bottom: 10px;  
    margin-top: 10px;s
} 

#pledgetag { 
    font-size: 20px; 
    margin-bottom: 4px; 
} 

/*========================================
  Clearfix
  ========================================*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}